<div class="fixed top-0 left-0 bg-black bg-opacity-30 w-full h-screen flex items-center justify-center z-20">
  <div class="bg-white w-[90%] max-w-2xl rounded-lg max-h-[90vh] mx-4 lg:mx-0 overflow-hidden z-30">
      <div class="max-h-[90vh] overflow-y-auto divide-y scroll">
        <div class="sticky top-0 flex justify-between bg-slate-50 px-5 py-2.5">
          <h1 class="text-sm font-bold">{{ formType === "create" ? 'Crear tarea' : 'Editar tarea'}}</h1>
          <span (click)="close()" class="bg-white hover:bg-slate-100 ring-1 ring-slate-200 flex items-center justify-center rounded cursor-pointer w-5 h-5">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
              <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
            </svg>
          </span>
        </div>
        <form [formGroup]="taskFb" (ngSubmit)="submit()" class="divide-y">
          <div class="flex flex-col gap-8 px-5 py-3">
            <div class="grid lg:grid-cols-12 gap-4">
              <div class="flex flex-col lg:col-span-6">
                <label class="mb-2 font-semibold">Título</label>
                <input formControlName="title" type="text" [ngClass]="taskFb.controls['title'].dirty && taskFb.controls['title'].invalid ? 'ring-red-600 focus:ring-red-600' : 'ring-slate-200 focus:ring-blue-600'" class="w-full outline-none px-2 py-1.5 ring-1 rounded-md focus:ring-2" />
              </div>
              <div class="flex flex-col lg:col-span-6">
                <label class="mb-2 font-semibold">Estado</label>
                <select formControlName="state" [ngClass]="taskFb.controls['state'].dirty && taskFb.controls['state'].invalid ? 'ring-red-600 focus:ring-red-600' : 'ring-slate-200 focus:ring-blue-600'" class="w-full outline-none px-2 py-1.5 ring-1 rounded-md focus:ring-2">
                  <option value="">-- Seleccione --</option>
                  <option *ngFor="let item of taskStates | keyvalue" [value]="item.key">{{ item.value }}</option>
                </select>
              </div>
              <div class="flex flex-col lg:col-span-12">
                <label class="mb-2 font-semibold">Descripción</label>
                <textarea formControlName="description" type="text" rows="5" [ngClass]="taskFb.controls['description'].dirty && taskFb.controls['description'].invalid ? 'ring-red-600 focus:ring-red-600' : 'ring-slate-200 focus:ring-blue-600'" class="w-full outline-none px-2 py-1.5 ring-1 rounded-md focus:ring-2"></textarea>
              </div>
              <div class="flex flex-col lg:col-span-6">
                <label class="mb-2 font-semibold">Fecha de inicio</label>
                <input formControlName="startDate" type="date" [ngClass]="taskFb.controls['startDate'].dirty && taskFb.controls['startDate'].invalid ? 'ring-red-600 focus:ring-red-600' : 'ring-slate-200 focus:ring-blue-600'" class="w-full outline-none px-2 py-1.5 ring-1 rounded-md focus:ring-2" />
              </div>
              <div class="flex flex-col lg:col-span-6">
                <label class="mb-2 font-semibold">Fecha de fin</label>
                <input formControlName="endDate" type="date" [ngClass]="taskFb.controls['endDate'].dirty && taskFb.controls['endDate'].invalid ? 'ring-red-600 focus:ring-red-600' : 'ring-slate-200 focus:ring-blue-600'" class="w-full outline-none px-2 py-1.5 ring-1 rounded-md focus:ring-2" />
              </div>
              <div class="flex flex-col lg:col-span-6">
                <label class="mb-2 font-semibold">ID de proyecto</label>
                <input formControlName="projectId" type="text" [ngClass]="taskFb.controls['projectId'].dirty && taskFb.controls['projectId'].invalid ? 'ring-red-600 focus:ring-red-600' : 'ring-slate-200 focus:ring-blue-600'" class="w-full outline-none px-2 py-1.5 ring-1 rounded-md focus:ring-2" />
              </div>
            </div>
          </div>
          <div class="bg-slate-100 flex gap-4 justify-end px-5 py-3">
            <button (click)="close()" type="button" class="bg-white hover:bg-slate-50 ring-1 ring-slate-200 rounded-md font-medium px-3 py-1.5 shadow">Cerrar</button>
            <app-loading-button typeB="submit" text="Guardar" [loading]="loading.button" [valid]="!taskFb.valid" className="text-white bg-blue-600 hover:bg-blue-700 px-4 py-2 w-full"></app-loading-button>
          </div>
        </form>
      </div>
  </div>
</div>
