<div class="max-w-6xl px-4 lg:px-0 mx-auto text-slate-700 py-10">
  <h1 class="font-bold text-2xl text-center mb-8">Gestión de proyectos</h1>
  <div class="bg-slate-100 rounded-lg overflow-hidden mb-8">
    <ul class="flex flex-wrap items-center">
        <li class="">
            <a
              [routerLink]="['/']"
              routerLinkActive #rlah="routerLinkActive" [routerLinkActiveOptions]="{exact: true}"
              title="Usuarios"
              [ngClass]="rlah.isActive ? 'bg-slate-50 border-blue-500' : 'border-slate-100'"
              class="block font-semibold px-8 py-3 border-b-4 transition-all">Inicio</a>
        </li>
        <li class="">
            <a
              [routerLink]="['/usuarios']"
              routerLinkActive #rlau="routerLinkActive" [routerLinkActiveOptions]="{exact: true}"
              title="Usuarios"
              [ngClass]="rlau.isActive ? 'bg-slate-50 border-blue-500' : 'border-slate-100'"
              class="block font-semibold px-8 py-3 border-b-4 transition-all">Usuarios</a>
        </li>
        <li class="">
            <a
              [routerLink]="['/proyectos']"
              routerLinkActive #rlap="routerLinkActive" [routerLinkActiveOptions]="{exact: true}"
              title="Proyectos"
              [ngClass]="rlap.isActive ? 'bg-slate-50 border-blue-500' : 'border-slate-100'"
              class="block font-semibold px-8 py-3 border-b-4 transition-all">Proyectos</a>
        </li>
        <li class="">
            <a
              [routerLink]="['/tareas']"
              routerLinkActive #rlat="routerLinkActive" [routerLinkActiveOptions]="{exact: true}"
              title="Proyectos"
              [ngClass]="rlat.isActive ? 'bg-slate-50 border-blue-500' : 'border-slate-100'"
              class="block font-semibold px-8 py-3 border-b-4 transition-all">Tareas</a>
        </li>
    </ul>
  </div>
  <router-outlet></router-outlet>
</div>
