<div class="flex justify-between flex-wrap">
  <div class="flex gap-1">
    <button (click)="back()" [disabled]="pageable.first" class="ring-1 ring-slate-200 p-1 rounded-l disabled:opacity-70">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
        <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5L8.25 12l7.5-7.5" />
      </svg>
    </button>
    <span class="ring-1 ring-slate-200 px-2 py-1 flex items-center justify-center text-center">
      <span class="min-w-[20px]">{{ pageable.number + 1 }}</span>
    </span>
    <button (click)="next()" [disabled]="pageable.last" class="ring-1 ring-slate-200 p-1 rounded-r disabled:opacity-70">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
        <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5" />
      </svg>
    </button>
  </div>
  <div class="flex flex-col">
    <p>{{ pageable.totalElements }} registros</p>
    <p>Página {{ pageable.number + 1 }} de {{ pageable.totalPages }}</p>
  </div>
</div>
