<div class="flex flex-col gap-4">
  <h2 class="text-lg font-bold italic">Proyectos</h2>
  <div class="flex flex-col gap-4 items-center flex-wrap justify-center w-full max-w-[800px] mx-auto">
    <div class="w-full">
      <div class="group relative flex items-center w-full">
        <input [(ngModel)]="filters.search" type="text" placeholder="Buscar" class="w-full outline-none pl-8 py-2 rounded-md ring-1 ring-slate-200 focus:ring-2 focus:ring-blue-600"/>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4 absolute ml-2 group-focus-within:text-ring-500">
          <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z" />
        </svg>
      </div>
    </div>
    <div class="flex flex-col items-center gap-2 flex-wrap justify-center">
      <div class="flex items-center gap-2 flex-wrap justify-center">
        <button (click)="filter()" class="flex items-center gap-2 outline-none ring-1 ring-blue-600 text-blue-600 hover:bg-blue-700 hover:text-white font-semibold rounded-md shadow-md px-3 py-1.5">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
            <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z" />
          </svg>
          <span>Buscar</span>
        </button>
        <button (click)="reset()" class="flex items-center gap-2 outline-none ring-1 ring-blue-600 text-blue-600 hover:bg-blue-700 hover:text-white font-medium rounded-md shadow-md px-3 py-1.5">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
            <path stroke-linecap="round" stroke-linejoin="round" d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0l3.181 3.183a8.25 8.25 0 0013.803-3.7M4.031 9.865a8.25 8.25 0 0113.803-3.7l3.181 3.182m0-4.991v4.99" />
          </svg>
        </button>
        <button (click)="create()" class="flex items-center gap-2 outline-none text-white bg-blue-500 hover:bg-blue-600 font-medium rounded-md shadow-md px-3 py-1.5">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
          </svg>
          <span>Crear</span>
        </button>
      </div>
    </div>
  </div>
  <div class="overflow-x-auto">
    <div class="align-middle inline-block min-w-full">
        <div class="shadow overflow-hidden border border-slate-200 sm:rounded-lg">
            <table class="min-w-full divide-y">
                <thead class="bg-slate-50">
                    <tr>
                      <th scope="col" class="p-3 text-left text-xs font-semibold uppercase">ACCION</th>
                      <th scope="col" class="p-3 text-left text-xs font-semibold uppercase">FECHA DE CREACION</th>
                      <th scope="col" class="p-3 text-left text-xs font-semibold uppercase">ID</th>
                      <th scope="col" class="p-3 text-left text-xs font-semibold uppercase">NOMBRE</th>
                      <th scope="col" class="p-3 text-left text-xs font-semibold uppercase">DESCRIPCION</th>
                      <th scope="col" class="p-3 text-left text-xs font-semibold uppercase">FECHA DE INICIO</th>
                      <th scope="col" class="p-3 text-left text-xs font-semibold uppercase">FECHA DE FIN</th>
                    </tr>
                </thead>
                <tbody class="bg-white">
                      <tr *ngFor="let item of projects" class="odd:bg-white even:bg-slate-50">
                          <td class="p-2">
                              <div class="flex items-center gap-1">
                                  <button (click)="edit(item)" class="bg-blue-600 hover:bg-blue-700 text-white p-1.5 rounded-md" title="Editar">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-3 h-3">
                                      <path stroke-linecap="round" stroke-linejoin="round" d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L10.582 16.07a4.5 4.5 0 01-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 011.13-1.897l8.932-8.931zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0115.75 21H5.25A2.25 2.25 0 013 18.75V8.25A2.25 2.25 0 015.25 6H10" />
                                    </svg>
                                  </button>
                                  <button (click)="destroy(item.id)" class="bg-red-600 hover:bg-red-700 text-white p-1.5 rounded-md" title="Eliminar">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-3 h-3">
                                      <path stroke-linecap="round" stroke-linejoin="round" d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
                                    </svg>
                                  </button>
                              </div>
                          </td>
                          <td class="p-2">{{ item.createdAt }}</td>
                          <td class="p-2">{{ item.id }}</td>
                          <td class="p-2">{{ item.name }}</td>
                          <td class="p-2">{{ item.description }}</td>
                          <td class="p-2">{{ item.startDate }}</td>
                          <td class="p-2">{{ item.endDate }}</td>
                      </tr>
                </tbody>
            </table>
        </div>
    </div>
  </div>

  <app-pagination
    *ngIf="pageable"
    [pageable]="pageable"
    (nextPageEvent)="nextPage()"
    (backPageEvent)="backPage()"
  >
  </app-pagination>

  <app-project-form
    *ngIf="formIsOpen"
    [formType]="formType"
    [loading]="loading"
    [projectFb]="projectFb"
    (closeEvent)="changeForm($event)"
    (saveEvent)="save()"
    (updateEvent)="update()"
  >
  </app-project-form>

</div>
